<form action="/bitcoins">
  <label for = "" > How many bitcoins do you have?</label>
  <input type = "text" name = "Amount" value = <%= params["Amount"]%>>
  <button> Submit </button>
</form>

<p>1 Bitcoin is valued at $<%= @usd_rate %> USD.</p>
<p>Your Bitcoin is worth $<%= @usd_value %>.</p>